<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Babyfoot</title>
        <script src="script.js" defer></script>
    </head>
    <body>
        <form id="new_joueur">
            <input type="text" id="name">
            <input type="text" id="email">
            <input type="password" id="password">
            <button type="submit">Créer</button>
        </form>
        <section>
            <button>Partie 1V1</button>
            <button>Partie 2V2</button>
        </section>
    </body>
</html>